<% include ../partials/header %>
<% include ../partials/login__nav %>

<div class="video__main">
    <iframe src="http://localhost:5000/video/embed/<%- video._id %>" width="100%" height="480px"
        frameborder="0"></iframe>
</div>
<div class="container">
    <h2 class="text-white"><%- video.name %> <br>
        <h6 class="text-white"><%- video.view %> Views • <%- bestdate %></h6>
    </h2>
    <br>
    <div class="text-white">
        <img class="video__user__avatar" src="<%- video.author2[0].avatar %>">
        <h4><%- video.author2[0].name %></h4>
        <form action="/follow/<%- video.author2[0]._id %>" method="POST">
            <button type="submit" class="btn btn-primary btn-block">
                Follow
            </button>
        </form>
    </div>
    <br>

    <hr>
    <div class="recommend__main text-white">
        <h4>Recommend for you</h4>
        <div class="recommend__main">
            <div class="row row-cols-1 row-cols-lg-5">
                <% video2.forEach(function(v){ %>
                <a href="/video/watch/<%- v._id %>" style="text-decoration:none">
                    <div class="col-sm" type="button">
                        <div class="video__img">
                            <video muted loop class="video__img__img">
                                <source
                                    src="https://cdn.discordapp.com/attachments/746066525429170298/779816475812560946/Zs0BYabtcn.mp4"
                                    type="video/mp4">
                                Your browser does not support HTML5 video.
                            </video>
                            <div class="text-white video__text"> <span><%- v.name %> <br> <%- v.author2[0].name %> <span
                                        style="float: right;">View: <%- v.view %></span></span>
                            </div>
                        </div>
                    </div>
                </a>
                <% }); %>
            </div>
        </div>
    </div>
    <div class="space2"></div>
</div>